    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: right;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }


    body { 
      font-family: 'Open Sans', sans-serif;
      color: #666;
    }


    header {
      padding: 0 15px;
    }

  }

  h2{
    color: #fff;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align:center;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tabla{
    padding-left: 20%;
    width: 100%;
  }


